@import "main.css";

/* vid */

.vid{
    display: flex;
    flex-direction: row;
    height: 350px;
}

.vid iframe{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* btns */

.btns{
    display: flex;
    flex-direction: column;
    height: 150px;
    text-align: center;
    padding: 15px;
}

.btns select {
    font-size: 1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: rgb(239, 62, 54);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.btns a {
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 50%;
    border-radius: 10px;
    border: none;
    background-color: rgb(59, 66, 159);
    color: white;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

.btns a:hover, .btns select:hover{
    border: 1px solid white;
}