/* 
Color Palette: https://coolors.co/ffb2e6-d972ff-8447ff-8cffda-ffffe8

Cotton Candy: rgb(255, 178, 230)
Heliotrope: rgb(217, 114, 255)
Purple X 11: rgb(132, 71, 255)
Aquamarine: rgb(140, 255, 218)
Beige: rgb(255, 255, 232)

*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&family=Sofia&display=swap');

body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

h1{
    font-family: "Sofia", sans-serif;
}

/* main-container */ 

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 1.0);
}

/* outer card */

.outer-card{
    width: 600px;
    height: 800px; 
    padding: 25px;
    border-radius: 10px;
}

/* title */ 

.title{
    text-align: center;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    font-size: 5.0rem;
}

#title1{
    color: rgb(59, 66, 159);
    padding: 0;
}

#title2{
    color: rgb(239, 62, 54);
    padding: 0;
}

/* inner-card */

.inner-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}